/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: 'LeagueSpartan', Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'LeagueSpartan';
    src: url('/assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}